<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cnx_Sizer" connectionString="Server={2};Database={3};User Id={0};Password={1};" />
    <add name="cnx_Destino" connectionString="Server={2};Database={3};User Id={0};Password={1};" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>